.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  max-width: 194px;
  color: #ffffff;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  text-decoration-skip-ink: none;
  margin-top: 90px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: auto;
  }
  .footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    margin-top: 90px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    margin: auto;
  }
  .footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 24px;
  }
}
