.intro {
  width: 90%;
  height: 607px;
  top: 1269px;
  left: 148px;
  position: absolute;
}

.intro__title {
  max-width: 830px;
  height: 173.92px;
  top: 1269px;
  left: 148px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  flex-wrap: wrap;
}

.intro__text1 {
  max-width: 738px;
  height: 135.66px;
  top: 1482.91px;
  left: 148px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  flex-wrap: wrap;
}

.intro__text2 {
  max-width: 732px;
  height: 33.91px;
  top: 1628.56px;
  left: 148px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  flex-wrap: wrap;
}

.intro__text3 {
  max-width: 722px;
  height: 181.54px;
  top: 1694.46px;
  left: 148px;
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 720px;
    height: 573px;
    top: 1041px;
    left: 24px;
  }
  .intro__title {
    width: 707px;
    height: 147px;
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text1 {
    width: 720px;
    height: 136px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text2 {
    width: 720px;
    height: 34px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text3 {
    width: 720px;
    height: 182px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    width: 288px;
    height: 1033px;
    top: 570px;
    left: 16px;
  }
  .intro__title {
    width: 288px;
    height: 175px;
    top: 570px;
    left: 16px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text1 {
    width: 288px;
    height: 300px;
    top: 785px;
    left: 16px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .intro__text2 {
    width: 288px;
    height: 34px;
    top: 1095px;
    left: 16px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .intro__text3 {
    width: 288px;
    height: 442px;
    top: 1161px;
    left: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
