.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px 16px;
  margin: 118px auto 12px auto;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px 24px;
    margin: 64px auto;
  }
  .photo-grid__image {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 16px 24px;
    margin: 38px auto;
  }
  .photo-grid__image {
    width: 100%;
    height: 100%;
  }
}
