.places {
  width: 987px;
  margin: auto;
}

.places__content {
  max-width: 987px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px;
  grid-gap: 48px 40px;
  margin: 0;
}

.places__title {
  max-width: 85px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 12%;
  color: rgba(170, 170, 170, 1);
}

.places__heading {
  max-width: 330px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}

.places__artist {
  max-width: 455px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}
