.places {
  width: 987px;
  margin: auto;
}

.places__content {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "title artist"
    "image paragraph"
    "image paragraph"
    "button paragraph";
  grid-gap: 48px 40px;
  margin: 34px auto;
}

.places__title {
  max-width: 460px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
}

.places__heading {
  max-width: 330px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: rgba(170, 170, 170, 1);
  margin: 85px auto 8px 0;
  letter-spacing: 0.2em;
}

.places__artist {
  max-width: 455px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.places__image {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__paragraph1 {
  width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0;
}

.places__paragraph2 {
  width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 25px 0;
}
.places__button {
  width: 289px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
  .places {
    width: 100%;
    margin: auto;
  }

  .places__content {
    max-width: 100%;
    grid-template-areas:
      "title artist"
      "image paragraph"
      "image paragraph"
      "button paragraph";
    grid-gap: 48px 28px;
    margin: 24px;
  }
  .places__title {
    max-width: 340px;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    margin: 22px 0;
  }
  .places__heading {
    max-width: 67px;
    margin: 0 0 8px 0;
  }

  .places__artist {
    margin: 0;
  }

  .places__image {
    width: 100%;
    height: 340px;
  }
  .places__paragraph1 {
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    margin: 0;
  }
  .places__paragraph2 {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    margin: 25px 0;
  }

  .places__button {
    margin: 0;
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 100%;
    margin: 0;
  }

  .places__content {
    max-width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 0fr) 50px;
    grid-gap: 30px 0;
    margin: 0;
  }

  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 30px 16px 0 16px;
  }
  .places__heading {
    max-width: 288px;
    margin: 0 16px 8px 16px;
  }
  .places__artist {
    max-width: 288px;
    margin: 0 16px 0 16px;
  }

  .places__image {
    width: 100%;
    height: 320px;
  }

  .places__paragraph1 {
    max-width: 288px;
    margin: 0 16px 25px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
  }

  .places__paragraph2 {
    max-width: 288px;
    margin: 0 16px 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
  }

  .places__button {
    margin: auto;
  }
}
