@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 768px) and (max-height: 1742px) {
  .page {
    width: 768px;
    height: 1742px;
  }
  .header__logo {
    width: 254px;
    height: 66px;
    top: 30px;
    left: 257px;
  }

  .lead {
    display: flex;
    justify-content: center;
  }
  .lead__title {
    font-size: 75px;
    font-weight: 900;
    line-height: 79px;
    text-align: center;
    margin: 0 auto;
    width: 530px;
    height: 158px;
    top: 186px;
    left: 119px;
  }
  .lead__subtitle {
    width: 720px;
    height: 72px;
    top: 369px;
    left: 24px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
  }

  .lead__image {
    width: 768px;
    height: 480px;
    top: 471px;
    left: 0px;
  }

  .intro {
    width: 720px;
    height: 573px;
    top: 1041px;
    left: 24px;
  }
  .intro__title {
    width: 707px;
    height: 147px;
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text1 {
    width: 720px;
    height: 136px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text2 {
    width: 720px;
    height: 34px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text3 {
    width: 720px;
    height: 182px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer {
    width: 194px;
    height: 16px;
    top: 1702px;
    left: 287px;
  }
  .footer__copyright {
    width: 194px;
    height: 16px;
    top: 1702px;
    left: 287px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

@media screen and (max-width: 320px) and (max-height: 1705px) {
  .page {
    width: 320px;
    height: 1705px;
    top: -4524px;
    left: 101px;
  }
  .header__logo {
    width: 188px;
    height: 52px;
    top: 20px;
    left: 66px;
  }

  .lead {
    width: 288px;
    height: 144px;
    top: 122px;
    left: 16px;
  }
  .lead__title {
    width: 228px;
    height: 88px;
    top: 122px;
    left: 46px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .lead__subtitle {
    width: 288px;
    height: 40px;
    top: 226px;
    left: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .lead__image {
    width: 320px;
    height: 200px;
    top: 306px;
    object-fit: cover;
  }

  .intro {
    width: 288px;
    height: 1033px;
    top: 570px;
    left: 16px;
  }
  .intro__title {
    width: 288px;
    height: 175px;
    top: 570px;
    left: 16px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .intro__text1 {
    width: 288px;
    height: 300px;
    top: 785px;
    left: 16px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .intro__text2 {
    width: 288px;
    height: 34px;
    top: 1095px;
    left: 16px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .intro__text3 {
    width: 288px;
    height: 442px;
    top: 1161px;
    left: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer {
    width: 194px;
    height: 14px;
    top: 1667px;
    left: 63px;
  }
  .footer__copyright {
    width: 194px;
    height: 14px;
    top: 1667px;
    left: 63px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
