@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 768px) and (max-height: 1742px) {
  .page {
    width: 768px;
    height: 1742px;
    top: -4524px;
    left: -887px;
  }
  .header__logo {
    width: 254px;
    height: 66px;
    top: 30px;
    left: 257px;
  }
  .lead__title {
    width: 100%;
    font-size: 75px;
    font-weight: 900;
    line-height: 79px;
    text-align: center;
    padding-top: 90px;
    margin: 0 auto;
    width: 530px;
    height: 158px;
    top: 186px;
    left: 119px;
  }
  .lead__subtitle {
    font-size: 0.8rem;
    width: 720px;
    height: 72px;
    top: 369px;
    left: 24px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
  }

  .lead__imagen {
    width: 30%;
    padding-bottom: 30%;
  }
  .intro__title {
    flex-direction: column;
  }
  .intro__text {
    width: 100%;
    margin-bottom: 60px;
  }
  .intro__text2 {
    width: 100%;
    margin-bottom: 60px;
  }
  .intro__text3 {
    width: 100%;
    margin-bottom: 60px;
  }
}
